
body {
    background-color: #4267B2;
    overflow: hidden;
}
canvas {
    width: 450px;
    height: 450px;
    border: 3px solid black;
    margin: auto;
}
#top {
    width: 1200px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}
h1 {
    font-size:50px;
    margin: 0 auto; 
    text-align: center;
    color:#ffff;
    text-shadow:2px 2px rgb(144, 147, 160);
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}
#content {
    margin-top: 10px;
    height: 1000px;
}
h2 {
    font-size: 30px;
    color:#ffff;
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
}
#original_image {
    width: 50%; 
    display: inline; 
    float: left;
}
#canvas_image {
    width: 50%; 
    display:inline ;
}
img {
    border:3px solid black;
    width: 450px;
    height: 450px;
}
