
body {
	background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}
h1 {
	font-size: 36px;
	font-weight: 700;
	color: #C0D06F;
    margin: 20px;
    letter-spacing: 2px;
}
.content {
	text-align: center;
}
.content img {
	width: 100%;
	height: auto;
}
.content p {
	margin-bottom: 10px;
}
#btn {
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: rgb(158, 172, 158);
    border-radius: 5px;
    color: white;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
canvas {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}



